.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    padding: 10px;
    background: teal;
    color: white;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.form__button:hover {
    background: rgb(0, 128, 90);
    transform: scale(1.3);
}

.form__button:active {
    background: rgb(0, 128, 43);
}