.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    border: none;
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background-color 0.5s;

}

.tasks__button--toggleDone {
    background-color: rgb(0, 128, 64)
}

.tasks__button--toggleDone:hover {
    background-color: rgb(1, 95, 48)
}

.tasks__button--toggleDone:active {
    background-color: rgb(2, 49, 25)
}

.tasks__button--remove {
    background-color: rgb(199, 3, 3)
}

.tasks__button--remove:hover {
    background-color: rgb(138, 3, 3)
}

.tasks__button--remove:active {
    background-color: rgb(80, 1, 1)
}