.buttons {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
}

.buttons__button {
    background: transparent;
    color: teal;
    border: none;
    margin: 10px;
    transition: background-color 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: rgb(2, 73, 73);
}

.buttons__button:active {
    color: rgb(1, 22, 22);
}

.buttons__button:disabled {
    color: #ccc;
    cursor: not-allowed;
}